body {
    margin: 0;
    background-color: slategrey;
}
img {
    width: 85px;
    height: 85px;
    float: left;
}

.logo-name {
    float: left;
}

.head {
    background-color: white;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact{
    margin-left: 10px;
}
.contact:hover{
    border-bottom: 2px solid black;
}
.best{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1350px;
    height: 400px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFHhbIFNeudaEQ2RwEsZRXj73_zPUI97hsGh8-96n5hMGfpmuBD0Jj3sVuGgQGtyY-WcA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px;
    border-radius: 15px;
}
.span{
    font-size: 35px;
    color: white;
    text-align: center;
}
.spann{
    font-size: 35px;
    color: red;
}
.buy{
    position: absolute;
    left: 290px;
    top: 290px;
    font-size: 25px;
    color: white;
}
.goat{
    position: absolute;
    left: 290px;
    top: 340px;
    color: white;
    font-size: 15px;
}
.goatt{
    position: absolute;
    left: 290px;
    top: 360px;
    color: white;
    font-size: 15px;

}
.goattt{
    position: absolute;
    left: 290px;
    top: 380px;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid white;
}
.pele{
    position: absolute;
    right: 290px;
    top: 290px;
    color: white;
    font-size: 25px;
}
.roni{
    position: absolute;
    right: 290px;
    top: 340px;
    color: white;
    font-size: 15px;
}
.messi{
    position: absolute;
    right: 290px;
    top: 360px;
    color: white;
    font-size: 15px;
}
.neyi{
    position: absolute;
    right: 290px;
    top: 380px;
    color: white;
    font-size: 15px;
    border-bottom: 2px solid white;
}
.mydryk{
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 15px;
    margin: 10px;
}
.mydryk:hover{
    opacity: 0.5;
}
.h3{
    text-align: center;
    color: whitesmoke;
    
}

.fotochka{
 
    width: 210px;
    height: auto;
    border-radius: 15px;

}

.dav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    background-color: white;
    border-radius: 15px; 
}


.propostitions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.propostitions__item {
    display: flex;
    flex-direction: column;
}
.vop{
    
    background-color: white;
}
.filik{
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.filin{
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.fopik{
    display: flex;
  align-items: flex-start;
    flex-direction: row;
  justify-content: space-between;
}
.filip{
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.filip:hover{
    color: rgb(33, 121, 155);
}

